extends layout

block content
    h1= title
    h2 Last 10 Minutes
    #realtime.chart
    h2 Testing Ajax
    #ajax.chart

    script(src="/js/flot/jquery.flot.js")
    script(src="/js/group.js")

        

  
