extends layout

block content
    h1= title
    ul#tweets
        each tweet in tweets
            li
                img(src='#{tweet.user.profile_image_url}')
                p= tweet.user.name + " - " + tweet.text
    h3 Hi THAR
    script(src='/socket.io/socket.io.js')
    script
        var ul = $("#tweets");
        var socket = io.connect('http://localhost');
        socket.on('tweet', function (tweet) {
            tweetHtml = "<li><img src='" + tweet.user.profile_image_url + "'/><p>" + tweet.user.name + " - " + tweet.text + "</p></li>";
            ul.prepend(tweetHtml);
        });
