extends layout

block content
    
    #tweetContainer.span4
        h2 Active Tweets
        ul#tweets
            each tweet in tweets
                li
                    .media
                        img.pull-left(src='#{tweet.user.profile_image_url}')
                        .media-body
                            h4.media-heading= tweet.user.name
                            .media= tweet.text

    #tagCloud.span4
        h2 Popular Hashtags
        ul#tagList
    #charts.span4
        h2 Last 10 Minutes
        #realtime.chart
        h2 Last Day
        #oneDay.chart
        h2 Last 7 Days
        #sevenDays.chart

    script(src="/js/flot/jquery.flot.js")
    script(src='/js/index.js')
