!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/jquery.min.js")
  body
    nav
        a(href="/") Home
        a(href="/group") Testing
    block content