!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')  
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/global.js")
    script(src='/socket.io/socket.io.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            a#title.brand(href="/") rt3
    .container-fluid
        .span12
            .row-fluid
                block content