h1 {
  color: green;
}

a {
  color: #00B7FF;
}

/**
 * Chart Styling
 */
div.chart {
    min-width: 300px;
    min-height: 200px;
}
/**
 * Tweet Container Styling
 */
ul#tweets .media {
  margin-top: 1px;
}
ul#tweets h4.media {
  margin-bottom: 10px;
}
ul#tweets li {
	list-style-type: none;
  text-align: left;
  margin-bottom: 1px;
  border-bottom: 1px solid gray;
}
ul#tweets li img {
	margin-right: 5px;
}

/**
 * Hashtag Container
 */
#tagCloud {
  width:290px; background-color:#575454; text-align:center; padding:5px;
  overflow:auto; font-size:70%; font-family:arial;
}  
#tagCloud h2 {
  color:#ffffff; font-size:2.5em; margin:0 0 10px 0;
  background:url(/img/cloud.gif) no-repeat 0; padding:15px 0 15px 80px;
}
#tagList { margin:0; padding:0; }
#tagList li {
  list-style-type:none; float:left; margin:0 10px; height:35px; color:#ffffff;  
}  
#tagList li a { text-decoration:none; color:#ffffff; }
#tagList li a:hover ( text-decoration:underline; }