body {
  padding-top: 40px;
}
h1 {
  color: green;
}


#title {
  margin-left: 20px;
  color: green;
  font-weight: bold;
}

/**
 * Chart Styling
 */
div.chart {
    min-width: 300px;
    min-height: 200px;
}
/**
 * Tweet Container Styling
 */
ul#tweets .media {
  margin-top: 1px;
}
ul#tweets h4.media {
  margin-bottom: 10px;
}
ul#tweets li {
	list-style-type: none;
  text-align: left;
  margin-bottom: 1px;
  border-bottom: 1px solid gray;
}
ul#tweets li img {
	margin-right: 5px;
  max-width: 50px;
}

/**
 * Hashtag Container
 */
#tagCloud {
  text-align:center;
  overflow:auto;
}
#tagList { margin:0; padding:0; }
#tagList li {
  list-style-type:none; float:left; margin:0 10px; height:35px;
}